.main1 {
    position: absolute;
    top: 150px;
    left: 220px;
    width: 36%;
}

.main1Texto {
    font-size: 1.1rem;
}

.main1Titulo {
    font-size: 3.6rem;
}

.main1Boton {
    font-size: 3rem;
    background-color: rgb(255, 117, 117);
    border: 0px;
}